In [1]:
import pandas as pd
import csv
import glob
import os
os.chdir("Resources")

In [2]:
extension = "csv"
bike_data = [x for x in glob.glob('*.{}'.format(extension))]

In [3]:
combined_csv = pd.concat([pd.read_csv(f) for f in bike_data])

combined_csv.to_csv("combined_csv.csv", index=False, encoding='utf-8-sig')

combined_csv.head()

C:\Users\Bhavin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3254: DtypeWarning: Columns (48) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,...,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 64
0,2020,1,1,17,5,2020-01-17,WN,19393,WN,N559WN,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,1,1,17,5,2020-01-17,WN,19393,WN,N8663A,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020,1,1,17,5,2020-01-17,WN,19393,WN,N8688J,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,1,1,17,5,2020-01-17,WN,19393,WN,N8630B,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,1,1,17,5,2020-01-17,WN,19393,WN,N737JW,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
combined_csv.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM',
       'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'ORIGIN', 'ORIGIN_CITY_NAME',
       'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS', 'ORIGIN_STATE_NM',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_WAC', 'CRS_DEP_TIME',
       'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15',
       'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'ARR_TIME_BLK',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DISTANCE',
       'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'FIRST_DEP_TIME',
       'TOTAL_ADD_GTIME', 'LONGEST_ADD_GTIME', 'Unnamed: 64'],
      dtype='object')

In [5]:
combinedatl = combined_csv[combined_csv["DEST"] == "ATL"]

combinedatl.count()

YEAR                   523264
QUARTER                523264
MONTH                  523264
DAY_OF_MONTH           523264
DAY_OF_WEEK            523264
                        ...
LATE_AIRCRAFT_DELAY     66917
FIRST_DEP_TIME           2868
TOTAL_ADD_GTIME          2868
LONGEST_ADD_GTIME        2868
Unnamed: 64                 0
Length: 65, dtype: int64

In [6]:
combinedatl['OP_UNIQUE_CARRIER'].unique()

array(['WN', 'EV', 'MQ', 'B6', 'AS', 'AA', 'F9', 'DL', 'OO', 'UA', 'YX',
       '9E', 'YV', 'OH', 'NK'], dtype=object)

In [7]:
combinedatl['OP_UNIQUE_CARRIER'] = combinedatl['OP_UNIQUE_CARRIER'].replace({'DL' :'Delta Airlines',
                                                                         'AA': 'American Airlines',
                                                                         '9E': 'Endeavor Airlines',
                                                                         'WN':'Southwest Airlines',
                                                                         'B6' :'JetBlue Airways',
                                                                         'NK':'Spirit Airlines',
                                                                         'OO':'SkyWest Airlines',
                                                                        'UA': 'United Airlines',
                                                                         'YV':'Mesa Airlines',
                                                                         'YX':'Republic Airline',
                                                                         'AS':'Alaska Airlines',
                                                                         'MQ':'Envoy Air',
                                                                         'OH':'PSA Airlines',
                                                                         'EV':'ExpressJet Airlines',
                                                                         'F9':'Frontier Airlines'
                                                                         })

<ipython-input-7-b4482ead4597>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combinedatl['OP_UNIQUE_CARRIER'] = combinedatl['OP_UNIQUE_CARRIER'].replace({'DL' :'Delta Airlines',

In [8]:
combinedatl.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,...,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 64
0,2020,1,1,17,5,2020-01-17,Southwest Airlines,19393,WN,N559WN,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,1,1,17,5,2020-01-17,Southwest Airlines,19393,WN,N8663A,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020,1,1,17,5,2020-01-17,Southwest Airlines,19393,WN,N8688J,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,1,1,17,5,2020-01-17,Southwest Airlines,19393,WN,N8630B,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,1,1,17,5,2020-01-17,Southwest Airlines,19393,WN,N737JW,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
combinedatl.groupby("OP_UNIQUE_CARRIER").count().sort_values("YEAR", ascending=False)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 64
OP_UNIQUE_CARRIER,,,,,,,,,,,,,,,,,,,,,
Delta Airlines,319879,319879,319879,319879,319879,319879,319879,319879,317947,319879,...,319879,35525,35525,35525,35525,35525,1581,1581,1581,0
Southwest Airlines,55450,55450,55450,55450,55450,55450,55450,55450,53479,55450,...,55450,7269,7269,7269,7269,7269,275,275,275,0
Endeavor Airlines,54747,54747,54747,54747,54747,54747,54747,54747,54249,54747,...,54747,7205,7205,7205,7205,7205,370,370,370,0
SkyWest Airlines,34899,34899,34899,34899,34899,34899,34899,34899,34894,34899,...,34899,5836,5836,5836,5836,5836,211,211,211,0
American Airlines,16373,16373,16373,16373,16373,16373,16373,16373,16231,16373,...,16373,3244,3244,3244,3244,3244,112,112,112,0
Spirit Airlines,12223,12223,12223,12223,12223,12223,12223,12223,12218,12223,...,12223,2113,2113,2113,2113,2113,67,67,67,0
Republic Airline,8400,8400,8400,8400,8400,8400,8400,8400,8230,8400,...,8400,1449,1449,1449,1449,1449,62,62,62,0
Frontier Airlines,5119,5119,5119,5119,5119,5119,5119,5119,4994,5119,...,5119,1171,1171,1171,1171,1171,53,53,53,0
United Airlines,4969,4969,4969,4969,4969,4969,4969,4969,4787,4969,...,4969,933,933,933,933,933,41,41,41,0
JetBlue Airways,4402,4402,4402,4402,4402,4402,4402,4402,4377,4402,...,4402,949,949,949,949,949,42,42,42,0
Mesa Airlines,2499,2499,2499,2499,2499,2499,2499,2499,2499,2499,...,2499,533,533,533,533,533,20,20,20,0
PSA Airlines,2165,2165,2165,2165,2165,2165,2165,2165,2084,2165,...,2165,369,369,369,369,369,22,22,22,0
ExpressJet Airlines,854,854,854,854,854,854,854,854,854,854,...,854,141,141,141,141,141,2,2,2,0
Alaska Airlines,838,838,838,838,838,838,838,838,838,838,...,838,106,106,106,106,106,10,10,10,0
Envoy Air,447,447,447,447,447,447,447,447,447,447,...,447,74,74,74,74,74,0,0,0,0

In [10]:
combinedatl.drop(['OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM',
       'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS', 'ORIGIN_STATE_NM','DAY_OF_WEEK',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST_STATE_ABR', 'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_WAC', 'DEP_TIME_BLK', 'TAXI_OUT',
       'TAXI_IN', 'ARR_DELAY_NEW', 'ARR_DELAY_GROUP', 'ARR_TIME_BLK',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DEP_DELAY_NEW',
       'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'DEP_DELAY_GROUP',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'FIRST_DEP_TIME',
       'TOTAL_ADD_GTIME', 'LONGEST_ADD_GTIME', 'Unnamed: 64'], axis=1, inplace=True)

C:\Users\Bhavin\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [11]:
combinedatl.to_csv('clean_combinedatl.csv', sep=',', encoding='utf-8')

In [12]:
combinedatl.count()

YEAR                 523264
QUARTER              523264
MONTH                523264
DAY_OF_MONTH         523264
FL_DATE              523264
OP_UNIQUE_CARRIER    523264
ORIGIN               523264
ORIGIN_CITY_NAME     523264
DEST                 523264
DEST_CITY_NAME       523264
CRS_DEP_TIME         523264
DEP_TIME             509521
DEP_DELAY            509521
DEP_DEL15            509521
WHEELS_OFF           509441
WHEELS_ON            509408
CRS_ARR_TIME         523264
ARR_TIME             509409
ARR_DELAY            508507
ARR_DEL15            508507
DISTANCE             523264
dtype: int64